<div class="modal fade " id="doctorChange" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">  
                <div class="text-end">  
                    <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close"></button>      
                </div>
                <h3 class="text-center blue py-2 m-1"><%=i18n.SelecttheDoctor%></h3> 
                <p class="text-center py-2" id='current-doc'></p> 
                <form action="" method="POST" id='changeDocForm'>
                    <div class='row justify-content-center'>
                        <div class="col-12 col-sm-8">
                            <select class="form-select" name='doctorId' id="doctor">
                                
                            </select>
                        </div>
                    </div> 
                    <div class="text-center py-4 m-3">
                        <button type="submit" class="btn btn-primary btn-lg"><%=i18n.Update%> <i class="fas fa-user-md"></i></a>
                    </div>
                </form>   
            </div>
        </div>
    </div>
</div>