<div class="modal fade" id="editHintModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-2">
            <div class="text-end">  
               <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close"></button>      
            </div>
            <form method="post" action="" id='edit-form' enctype="multipart/form-data">
               <div class="row justify-content-center p-3">
                     <div class="form-group col-12 text-center">
                        <label for="upload_hint" id='cloud-hint' class='d-none'>
                           <i class="fa-solid fa-cloud-arrow-up fa-4x blue" data-bs-toggle="tooltip" data-bs-placement="top" title="Upload an Image"></i>
                        </label>
                        <input type="file" name="hint" accept="image/png, image/jpeg" class="form-control form-control-lg" placeholder="Enter Image" id="upload_hint" onchange="getImagePreview(event,'preview-hint','upload_hint','cloud-hint')" style="display: none">
                     </div>
                     <div id="preview-hint" class="my-2 col-11 col-sm-9 col-md-7 text-center">
                        
                     </div>
                     <div class="col-12">
                        <input type="text" class="login-input" name="score" value="" placeholder="Description..." id='text' required>
                     </div>
                     <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg rounded-pill">Update</button>
                     </div>
               </div>    
             </form>
        </div>
      </div>
    </div>
</div>