<div class="modal fade" id="hintModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body py-1 px-0">
          <img src="" alt="" id="hint_img" class="img-fluid" width="500vw" height="500vh"/>
        </div>
      </div>
    </div>
  </div>