<div class="modal fade animate__animated animate__faster" id="hintModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body py-1 px-0">
          <img src="" alt="" id="hint_img" class="img-fluid" style="height:70vh;width:90vw"/>
        </div>
        <div class="modal-footer">
          <button type='button' class="btn btn-primary btn-lg me-auto" onclick="repeatAudio('h')">Audio <i class="fa-solid fa-repeat"></i></button>
          <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Close <i class="fa-solid fa-xmark"></i></button>
        </div>
      </div>
    </div>
  </div>