<div class="container-fluid">
  <div class="row justify-content-center tab p-2">
    <div class="col-12 col-sm-8 col-xl-6 shadow-lg rounded-lg p-md-5">
      <h2 class="text-center blue my-2">Test Your Microphone</h2>
      <div class="row justify-content-center my-3">
        <div class="col-12">
          <label class="form-select-label h6" for="microphone_list">Select Microphone</label>
          <select class="form-select form-select-lg" id='microphone_list'></select>
          <div class="pids-wrapper text-center">
            <div class="pid"></div>
            <div class="pid"></div>
            <div class="pid"></div>
            <div class="pid"></div>
            <div class="pid"></div>
            <div class="pid"></div>
            <div class="pid"></div>
            <div class="pid"></div>
          </div>
        </div>
        <div class="text-center d-inline-block">
          <button type="button" class="btn btn-primary rounded-circle me-2" onclick="startAudioRecording()">
            <i class="fa fa-microphone fa-2x white p-1"></i>
          </button>
          <button type="button" class="btn btn-danger rounded-circle ms-2" onclick="StopAudioRecording()">
            <i class="fa fa-stop fa-2x white p-1"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>