<div class="modal fade" id="instModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <ol><b>
                <li>
                    <p>For answering each question maximum of 100 points will be awarded.</p>
                </li>
                <li>
                    <p>For each question, There will be 4 hints available and for taking a hint -10 points will be deducted.</p>
                </li>
                <li>
                    <p>You can skip the question and once skipped questions can not be revisited.</p>
                </li>
                <li>
                    <p>Hints can be revisited if you want to see them again and make so will not deduct points.</p>
                </li>
                <li>
                    <p>If you want to pause the test you can pause and take it later.</p>
                </li></b>
          </ol>
          <div class="text-center">
            <button type="button" class="btn btn-primary btn-lg" data-bs-dismiss="modal">Proceed</button>
          </div>
        </div>
      </div>
    </div>
</div>