<div class="row justify-content-center align-items-center d-none" id='no_question'>
    <div class="offset-2 col-8 offset-sm-1 col-sm-8 offset-lg-0 col-xl-7 border py-2">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6 text-center p-3">
          <h2 class="display-4 fw-bold" id='msg'><span class="blue"><%=msg[0]%></span> <%=msg[1]%></h2>
        </div>
        <div class="col-12 col-md-6 p-2">
          <img src="/images/Empty.png" class='img-fluid'/>
        </div>
      </div>
    </div>
</div>