<div class="row justify-content-center align-items-center d-none mb-2" id='no_test'>
    <div class="offset-2 col-8 offset-sm-1 col-sm-10 offset-xl-0 col-xl-10 border py-2">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6 text-center p-3">
          <h2 class="display-4 fw-bold" id='msg'></h2>
        </div>
        <div class="col-12 col-md-6 p-2">
          <img src="/images/Empty.png" class='img-fluid'/>
        </div>
        <% if(user.role=='doctor'){%>
          <div class="text-center">
            <a href="/create/test" class="btn btn-primary btn-lg rounded-pill">Create Test <i class="fa-solid fa-plus"></i></a>
          </div>
        <%}%>
      </div>
    </div>
</div>