<div class="row justify-content-center align-items-center d-none ms-5" id='no_test'>
    <div class="ms-3 ms-sm-2 col-11 col-sm-10 col-xl-9">
      <div class="row justify-content-center align-items-center border border-2 shadow-sm rounded-3 py-3">
        <div class="col-12 col-md-6 text-center p-2">
          <h2 class="display-4 fw-bold font-monospace text-break" id='msg'></h2>
        </div>
        <div class="col-12 col-md-6 p-2">
          <img src="/images/Empty.png" class='img-fluid'/>
        </div>
        <% if(user.role=='doctor'){%>
          <div class="text-center">
            <a href="/create/test" class="btn btn-primary btn-lg rounded-pill">Create Test <i class="fa-solid fa-plus"></i></a>
          </div>
        <%}%>
      </div>
    </div>
</div>