<div class="row justify-content-center ms-5">
    <div class="ms-0 ms-md-2 col-11 col-sm-10 col-md-10 p-2">
        <ul class="nav nav-pills mb-2 nav-justified" role="tablist" style="overflow: auto;flex-wrap: nowrap;white-space: nowrap;">
            <li class="nav-item p-2" role="presentation">
              <button class="nav-link active border border-2 py-2" id='all' data-bs-toggle="pill" data-bs-target="#test_list" type="button" role="tab" aria-controls="pills-all" aria-selected="true"><strong><%=i18n.All%></strong></button>
            </li>
            <li class="nav-item p-2" role="presentation">
              <button class="nav-link border border-2 py-2" data-bs-toggle="pill" id='pending' data-bs-target="#test_list" type="button" role="tab" aria-controls="pills-pending" aria-selected="false"><strong><%=i18n.Pending%></strong></button>
            </li>
            <li class="nav-item p-2" role="presentation">
              <button class="nav-link border border-2 py-2" data-bs-toggle="pill" id='paused' data-bs-target="#test_list" type="button" role="tab" aria-controls="pills-pauesd" aria-selected="false"><strong><%=i18n.Paused%></strong></button>
            </li>
            <li class="nav-item p-2" role="presentation">
              <button class="nav-link border border-2 py-2" data-bs-toggle="pill" id='completed' data-bs-target="#test_list" type="button" role="tab" aria-controls="pills-completed" aria-selected="false"><strong><%=i18n.Completed1%></strong></button>
            </li>
        </ul>
    </div>
</div>