<div class="modal fade" id="testSub" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="testSubLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <svg class="checkmark p-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle"  fill="none"/>
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.0"/>
                  </svg>
                <h3 class="text-center pb-2" style="color:blueviolet"><%=i18n.Testissubmittedsucessfully%></h3> 
                <div class="py-2">
                    <button type="button" class="btn btn-secondary py-2" onclick='window.close();'><%=i18n.Continue%></button>
                </div>
            </div>
        </div>
    </div>
</div>
