<div class="modal fade" id="viewReport" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body text-center p-4">
          <div class="row align-items-center h-10">
            <div class="col-12">
              <h3 id='score' class='blue mt-3'></h3>
            </div>
            <div class="col-12">
              <h5 id='grade' class='mt-2'></h5>
              <p id='msg' style='color:blueviolet;font-weight:bold;font: size 6px;'></p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-10">
              <canvas id="res_Chart" class="mb-0" style="height:200px"></canvas>
            </div>
          </div>
          <button class="btn btn-primary btn-lg" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>