<%- include("partials/header") %>
<%- include("partials/doctorSideBar") %>
  <div class="container1" id="passigned">
    <h1>Patients</h1>
    <div class="row">
      <div class="col-sm-4 py-3 py-sm-3">
        <div class="card box-shadow">
          <img src="/images/1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Patient1</h5>
            <p class="card-text">Name: ABC</p>
            <p class="card-text">Age: 21</p>
            <a href="#" class="btn btn-primary">Read more...</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 py-3 py-sm-3">
        <div class="card box-shadow">
          <img src="/images/2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Patient2</h5>
            <p class="card-text">Name: DEF</p>
            <p class="card-text">Age: 21</p>
            <a href="#" class="btn btn-primary">Read more...</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 py-3 py-sm-3">
        <div class="card box-shadow">
          <img src="/images/3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Patient1</h5>
            <p class="card-text">Name: GHI</p>
            <p class="card-text">Age: 22</p>
            <a href="#" class="btn btn-primary">Read more...</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 py-3 py-sm-3">
        <div class="card box-shadow">
          <img src="/images/2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Read more...</a>
          </div>
        </div>
      </div>
    </div>   
  </div>
  
  
  <div class="piegraph col-sm-12" id="dgraph">
    
    <div class="row" style="margin-bottom:2%;" id="piechart1" ></div>
    <div class="row" style="margin-bottom:2%;" id="piechart2" ></div>
    <div class="row" style="margin-bottom:2%;" id="piechart3" ></div>
  </div>
  <div class="card login" id="dprofile" style="width: 18rem;">
      <img class="card-img-top" src="/admin.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
  </div>
    
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = google.visualization.arrayToDataTable([
        ['Task', 'parameter1'],
        ['Active',     100],
        ['Discharged',      250],
       
      ]);

      var cata = google.visualization.arrayToDataTable([
        ['level', 'Number of patients'],
        ['lv1',      50],
        ['lv2',      50],
        ['lv3',      50],
        ['lv4',      50],
       
      ]);

      var options = {
        title: 'No of Active vs Discharged Patients'
      };

      var options1 = {
        title: 'No of patients in each level'
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart1'));
      var chart1 = new google.visualization.PieChart(document.getElementById('piechart2'));
      
      chart.draw(data, options);
      chart1.draw(cata, options1);
     
    }
  </script>
    <%- include("partials/footer") %>