<%- include("partials/header") %>
<!-- Forgot password page -->
<!-- Make a form with email field and button -->
<div class="container">
  <div class="d-flex justify-content-center row vh-100 align-items-center">
    <div class="col-md-4">
      <div class="py-3 text-center">
        <h1>Forgot <span class="blue">Password</span></h1>
      </div>
      <div id="email-sec">
        <div class="p-3">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email address"
            class="form-control"
          />
        </div>
        <div class="p-3 text-center">
          <button type="" class="btn btn-primary form-control" style="width:50%" onclick="sendOTP()" id="sendOTP">Send OTP</button>
        </div>
      </div>
      <div id="otp-sec" class="d-none">
        <div class="p-3">
          <input
            type="text"
            name="otp"
            id="otp"
            placeholder="Enter the OTP"
            class="form-control"
          />
        </div>
        <div class="p-3 text-center">
          <button type="" class="btn btn-primary form-control" style="width:50%" onclick="verifyOTP()">Verify OTP</button>
        </div>
      </div>
      <div id="set-sec" class="d-none">
        <div class="p-3">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter your new password"
            class="form-control"
          />
        </div>
        <div class="p-3 text-center">
          <button type="" class="btn btn-primary form-control" style="width:50%" onclick="setPassword()">Set Password</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function sendOTP() {
    var email= document.getElementById("email").value;
    if(email==="") {
      alert("Please enter your email address");
      return;
    }else{
      fetch("/send/email/v1", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "Accept": "application/json"
        },
        body: JSON.stringify({
          email: email
        })
      })
      .then(res => res.json())
      .then(data => {
        console.log(data)
        if(data.message==="Sucesss") {
          alert("OTP sent to your email");
          document.getElementById("otp-sec").classList.remove("d-none");
          //disable send OTP button
          document.getElementById("sendOTP").disabled=true;
        }else{
          alert("Email not found");
        }
      })
      .catch(err => {
        console.log(err);
      });
    }
  }
  function verifyOTP(){
    var otp= document.getElementById("otp").value;
    if(otp==="") {
      alert("Please enter the OTP");
      return;
    }else{
      fetch("/verify", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "Accept": "application/json"
        },
        body: JSON.stringify({
          otp: otp
        })
      })
      .then(res => res.json())
      .then(data => {
        console.log(data)
        if(data.message==="Sucesss") {
          alert("OTP verified");
          //d-none otp-sec and email-sec
          document.getElementById("otp-sec").classList.add("d-none");
          document.getElementById("email-sec").classList.add("d-none");
          document.getElementById("set-sec").classList.remove("d-none");
        }else{
          alert("OTP not verified");
        }
      })
      .catch(err => {
        console.log(err);
      });
    }
  }
  function setPassword(){
    var email= document.getElementById("email").value;
    var password= document.getElementById("password").value;
    if(password==="") {
      alert("Please enter your new password");
      return;
    }else{
      fetch("/set", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "Accept": "application/json"
        },
        body: JSON.stringify({
          password: password,
          email: email
        })
      })
      .then(res => res.json())
      .then(data => {
        console.log(data)
        if(data.message==="Password changed!") {
          alert("Your password has been changed successfully");
          //redirect to /login
          window.location.href = "/login";
        }else{
          alert("Password not set");
        }
      })
      .catch(err => {
        console.log(err);
      });
    }
  }
</script>
<%- include("partials/footer") %>
