<%- include("partials/header") %>
<div class="container my-5">
    <div class="row justify-content-center vertical-center shadow-lg rounded">
        <div class="col-12 col-md-4" style="background-color: #6c63ff">
            <div class="my-5 p-3">
                <div class="row my-2 my-5">
                    <div class="col-1"></div>
                    <div class="col-10 p-2 justify-content-center" >
                        <form
                            action="/login"
                            method="post"
                            class="p-3"
                            id="login-form"
                        >
                            <h1 class="p-3 white"><b>Login</b></h1>
                            <% if(message.error){ %>
                            <div
                                class="
                                    alert alert-warning alert-dismissible
                                    fade
                                    show
                                "
                                role="alert"
                            >
                                <strong> <%= message.error%> </strong>
                                <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="alert"
                                    aria-label="Close"
                                ></button>
                            </div>
                            <% } %>
                            <input
                                type="text"
                                name="username"
                                placeholder="Username"
                                id="login-input"
                                class="outline-color"
                                required
                            />
                            <input
                                type="password"
                                name="password"
                                placeholder="Password"
                                id="login-input"
                                class="outline-color"
                                required
                            />
                            <a href="#" id="login-a" class="p-2"
                                >Forgot Your Password ?</a
                            >
                            <input
                                type="submit"
                                class="
                                    btn btn-lg
                                    rounded-pill
                                    p-2
                                    mt-2
                                    shadow
                                    blue
                                "
                                value="Login"
                                onClick="this.form.submit(); this.disabled=true; this.value='Logging in…';this.style='color:black;background-color:white;margin-top:2px;padding:2px'"
                                style="width: 50%; background-color: white"
                            />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-8 d-none d-md-block my-auto">
            <div
                id="carouselExampleIndicators"
                class="carousel slide"
                data-bs-ride="carousel"
            >
                <div class="carousel-indicators blue">
                    <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1"
                    ></button>
                    <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="1"
                        aria-label="Slide 2"
                    ></button>
                    <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="2"
                        aria-label="Slide 3"
                    ></button>
                </div>
                <div class="carousel-inner my-auto">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-6 text-center my-auto">
                                <img
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR2ucRog4QpNwOQzffz6zmaND1v0IJpZ5LLaTHLc2zLRw&usqp=CAU&ec=45714077"
                                    alt=""
                                    width="75%"
                                    class="rounded-circle d-inline-block"
                                    height="50%"
                                />
                            </div>
                            <div
                                class="col-5 text-center my-auto"
                                style="background-color: white"
                            >
                                <div class="shadow p-2 text-center">
                                    <h1 class="font-weight-bold blue">
                                        Ajay Kumar
                                    </h1>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit.Lorem ipsum dolor sit
                                        amet consectetur adipisicing elit.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-6 text-center my-auto">
                                <img
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR2ucRog4QpNwOQzffz6zmaND1v0IJpZ5LLaTHLc2zLRw&usqp=CAU&ec=45714077"
                                    alt=""
                                    width="75%"
                                    class="rounded-circle d-inline-block"
                                    height="50%"
                                />
                            </div>
                            <div
                                class="col-5 text-center my-auto"
                                style="background-color: white"
                            >
                                <div class="shadow p-2 text-center">
                                    <h1 class="font-weight-bold blue">
                                        Ajay Kumar
                                    </h1>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit.Lorem ipsum dolor sit
                                        amet consectetur adipisicing elit.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-6 text-center my-auto">
                                <img
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR2ucRog4QpNwOQzffz6zmaND1v0IJpZ5LLaTHLc2zLRw&usqp=CAU&ec=45714077"
                                    alt=""
                                    width="75%"
                                    class="rounded-circle d-inline-block"
                                    height="50%"
                                />
                            </div>
                            <div
                                class="col-5 text-center my-auto"
                                style="background-color: white"
                            >
                                <div class="shadow p-2 text-center">
                                    <h1 class="font-weight-bold blue">
                                        Ajay Kumar
                                    </h1>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur
                                        adipisicing elit.Lorem ipsum dolor sit
                                        amet consectetur adipisicing elit.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") %>
