<%- include("partials/header") %>
<div class="container" style="margin-top:21vh;">
    <div class="row justify-content-center">
        <div class="col-11 col-md-4 card shadow-lg m-2 p-5">
            <h3 class="text-center"><%=i18n.CreatePassword%></h3>
            <div class="row justify-content-center">
                <div class="separator col-12"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <form  action="/" method="post" onsubmit="return checkPassword(this)">
                        <div>
                            <input type="password" name="newpassword" placeholder="Enter the Password" id="login-input1" required>
                            <span toggle="login-input1" class="fa fa-fw fa-eye field-icon toggle-password" onclick="show(this)"></span>
                        </div>
                        <div>
                            <input type="password" name="confirmpassword" placeholder="Confirm the Password" id="login-input" required>
                        </div>
                        <div class="text-center p-3">
                            <input type="submit" class="btn btn-primary btn-lg rounded-pill" value="Confirm" id="formsubmit"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function checkPassword(form) {
        password1 = form.newpassword.value;
        password2 = form.confirmpassword.value;
        if (password1 != password2) {
            alert ("\nPassword did not match: Please try again...")
            return false;
        }
        else{
            alert("Password Match")
            return true;
        }
    }
    function show(e) {
        e.classList.toggle("fa-eye-slash");
        let input=e.getAttribute("toggle");
        if (document.getElementById(input).type == "password") {
            document.getElementById(input).type="text";
        } else {
            document.getElementById(input).type="password";
        }
    }
</script>
<%- include("partials/footer") %>