<%- include("partials/header") %>
<div class="container-fluid">
  <%i=2%>
  <div class="row justify-content-center py-5" style="height: 100vh;">
    <div class="col-12 col-lg-9">
      <div class="row justify-content-center">
        <div class="col-10 col-sm-10 col-md-10 col-xl-9">
          <img src="" id="img" class="img-fluid">
        </div>
      </div>
      <div class="row py-2 justify-content-center text-center">
        <div class="col-6 col-sm-3 py-2">
          <button class="btn btn-primary btn-lg">Hint 1</button>
        </div>
        <div class="col-6 col-sm-3 py-2">
          <button class="btn btn-primary btn-lg">Hint 2</button>
        </div>
        <div class="col-6 col-sm-3 py-2">
          <button class="btn btn-primary btn-lg">Hint 3</button>
        </div>
        <div class="col-6 col-sm-3 py-2">
          <button class="btn btn-primary btn-lg">Hint 4</button>
        </div>
      </div>
      <div class="row justify-content-center py-2 text-center">
        <div class="col-8">
          <input type="text" id='login-input' placeholder="Enter your answer here...">
        </div>
        <div class="col-3 py-2">
          <button class="btn btn-primary btn-lg">Retry</button>
        </div>
      </div>
      <div class="row justify-content-end text-center">
        <div class="col-3">
          <button class="btn btn-primary btn-lg" onclick="disp_question()">Skip</button>
        </div>
        <div class="col-3">
          <button class="btn btn-primary btn-lg" onclick="disp_question()" id='next'>Next</button>
        </div>
      </div>
    </div>
    <div class="col-3 d-none d-xl-block">

    </div>
  </div>
</div>


<script type="text/javascript">
  var q='<%=questionIds%>'.split(',')
  curq=0
  disp_question();
  function disp_question(){
    if(document.getElementById('next').textContent=="Submit"){
      alert('End...!')
    }
    console.log("disp_question")
    fetch('/question/<%=testid%>/'+q[curq])
    .then(response => response.json())
    .then(question => {
      document.getElementById('img').src = 'data:image/'+question.question.contentType+';base64,'+arrayBufferToBase64(question.question.data.data);
    });
    curq=curq+1;
    if(curq==q.length){
      document.getElementById('next').textContent="Submit";
    }
  }
  function arrayBufferToBase64(buffer) {
      var binary = '';
      var bytes = [].slice.call(new Uint8Array(buffer));
      bytes.forEach((b) => binary += String.fromCharCode(b));
      return window.btoa(binary);
  };
</script>
<%- include("partials/footer") %>