<!doctype html>
<html class="no-js h-100" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>User Details Page</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="styles/extras.1.1.0.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body class="h-100">

    <div class="main-content-container container-fluid px-4">

            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
                <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                    <h3 class="page-title">User Profile</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card card-small mb-4 pt-3">
                        <div class="card-header border-bottom text-center">
                            <div class="mb-3 mx-auto">
                                <img class="rounded-circle" src="" alt="User Avatar" width="110">
                            </div>
                            <h4 class="mb-0">Name</h4>
                            <button type="button" class="mb-2 btn btn-sm btn-pill btn-outline-primary mr-2">
                            <i class="material-icons mr-1">person_add</i>Add Image</button>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item px-4">
                          <div class="progress-wrapper">
                            <div class="progress progress-sm">
                              <div class="bg-primary" style="width: 100%">
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item p-4">
                          <strong class="text-muted d-block mb-2">Description</strong>
                          <span>The Description Of Our Doctors</span>
                        </li>
                      </ul>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="card card-small mb-4">
                        <div class="card-header border-bottom">
                            <h6 class="m-0">Account Details</h6>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p-3">
                              <div class="row">
                                <div class="col">
                                  <form>
                                    <div class="form-row">
                                      <div class="form-group col-md-6">
                                        <label for="feName">Name</label>
                                        <input type="text" class="form-control" id="feName" placeholder="Name" value=""> </div>
                                      <div class="form-group col-md-6">
                                        <label for="feAge">Age</label>
                                        <input type="text" class="form-control" id="feAge" placeholder="Age" value=""> </div>
                                    </div>
                                    <div class="form-row">
                                      <div class="form-group col-md-6">
                                        <label for="feEmailAddress">Email</label>
                                        <input type="email" class="form-control" id="feEmailAddress" placeholder="Email" value=""> </div>
                                      <div class="form-group col-md-6">
                                        <label for="text">Phone Number</label>
                                        <input type="text" class="form-control" id="doctorid" placeholder="Phone Number"> </div>
                                    </div>
                                    <div class="form-row">
                                      <div class="form-group col-md-12">
                                        <label for="feDescription">Doctor Details</label>
                                        <textarea class="form-control" name="feDescription" rows="5">Hello</textarea>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

    </div>
</body>
</html>