/* Create test css  start*/
#test-main {
    display: block;
    margin: 0 auto;
    max-width: 43rem;
    padding: 1rem;
}
ol.gradient-list {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
}
ol.gradient-list > li {
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
}
ol.gradient-list > li::before, ol.gradient-list > li::after {
    border-radius: 1rem 1rem 0 1rem;
    content: '';
    height: 3rem;
    left: -1rem;
    overflow: hidden;
    position: absolute;
    top: -1rem;
    width: 3rem;
}
ol.gradient-list > li::before {
    align-items: flex-end;
    content: counter(gradient-counter);
    color: #1d1f20;
    display: flex;
    font: 900 1.5em/1 'Montserrat';
    justify-content: flex-end;
    padding: 0.125em 0.25em;
    z-index: 1;
}
ol.gradient-list > li:nth-child(10n+1):before {
    background: linear-gradient(135deg, #6C63FF 0%, #6C63FF 100%);
}
ol.gradient-list > li:nth-child(10n+2):before {
    background: linear-gradient(135deg, #6C63FF 0%, #6C63FF 100%);
}
ol.gradient-list > li:nth-child(10n+3):before {
    background: linear-gradient(135deg, #6C63FF 0%, #6C63FF 100%);
}
ol.gradient-list > li:nth-child(10n+4):before {
    background: linear-gradient(135deg, #6C63FF 0%, #6C63FF 100%);
}
ol.gradient-list > li:nth-child(10n+5):before {
    background: linear-gradient(135deg, #6C63FF 0%, #6C63FF 100%);
}
ol.gradient-list > li:nth-child(10n+6):before {
    background: linear-gradient(135deg, #6C63FF 0%, #6C63FF 100%);
}
ol.gradient-list > li:nth-child(10n+7):before {
    background: linear-gradient(135deg, #6C63FF 0%, #6C63FF 100%);
}
ol.gradient-list > li:nth-child(10n+8):before {
    background: linear-gradient(135deg, #6C63FF 0%, #6C63FF 100%);
}
ol.gradient-list > li:nth-child(10n+9):before {
    background: linear-gradient(135deg, #6C63FF 0%, #6C63FF 100%);
}
ol.gradient-list > li:nth-child(10n+10):before {
    background: linear-gradient(135deg, #6C63FF 0%, #6C63FF 100%);
}
ol.gradient-list > li + li {
    margin-top: 2rem;
}
.card-image .hover-img { 
  position:relative;
 }
.card-image .hover-img span {
  position:absolute; left:-9999px; top:-9999px; z-index:9999;
 }
 .card-image:hover .hover-img span { 
  top: 20px; 
  left:0;
 }
#q-checkbox {
  border: 5px solid #6C63FF;
  height: 25px;
  width: 25px;

}
#qimg{
    background-color: #6C63FF;
}

.form-select{
  border-radius: 0;
  border: 2px solid #6C63FF;
  font-size:1.15rem;
  background-color: #eee;
}
/*  */
.inputGroup {
  display: block;
  position: relative;
}
.inputGroup label {
  padding: 12px 15px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
  border-color:#6C63FF;
}
.inputGroup input:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
  
}
.inputGroup input:checked ~ label:after {
  background-color: #54E0C7;
  border-color: #6C63FF;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}
/*-----------------------------------
        Create test css end 
-----------------------------------*/
#main {
  display: flex;
  flex-wrap: wrap;
}
/*------------------------------------
          LOGIN PAGE
------------------------------------*/
#login-a {
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
  font-weight: bold;
  color: white;
}

#login-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

#login-input {
	background-color: #eee;
	border: 2px solid #6C63FF;
	padding: 10px 15px;
	margin: 8px 0;
	width: 100%;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 85vh; /* These two lines are counted as one :-)       */
	display: flex;
}
#review{
	background-color:#6C63FF;
}

.carousel-indicators [data-bs-target]{
  border-radius: 100%;
  height:15px;
  width:15px;
  background-color: #6C63FF;
}
.form-control{
  border-radius: 0;
  border: 2px solid #6C63FF;
  font-size:1.15rem;
  background-color: #eee;
}

.blue{
  color:#6C63FF;
}
.white{
  color:white;
}
.carousel-indicators{
  bottom: -80px;
}
.carousel-indicators .active {
  background-color:#6C63FF; ;
  
}
.outline-color{
  outline-color: #6C63FF;
}
.select-color:focus{
  margin: 0;
}