/*----------------------------
      Create test Start
------------------------------*/
#test-main {
    display: block;
    margin: 0 auto;
    max-width: 43rem;
    padding: 1rem;
}
ol.gradient-list {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
}
ol.gradient-list > li {
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
}
ol.gradient-list > li::before, ol.gradient-list > li::after {
    border-radius: 1rem 1rem 0 1rem;
    content: '';
    height: 3rem;
    left: -1rem;
    overflow: hidden;
    position: absolute;
    top: -1rem;
    width: 3rem;
}
ol.gradient-list > li::before {
    align-items: flex-end;
    content: counter(gradient-counter);
    color: #1d1f20;
    display: flex;
    font: 900 1.5em/1 'Montserrat';
    justify-content: flex-end;
    padding: 0.125em 0.25em;
    z-index: 1;
}
ol.gradient-list > li:nth-child(10n+1):before {
    background: linear-gradient(135deg, #6C63FF 0%, #6C63FF 100%);
}
ol.gradient-list > li:nth-child(10n+2):before {
    background: linear-gradient(135deg, #6C63FF 0%, #6C63FF 100%);
}
ol.gradient-list > li:nth-child(10n+3):before {
    background: linear-gradient(135deg, #6C63FF 0%, #6C63FF 100%);
}
ol.gradient-list > li:nth-child(10n+4):before {
    background: linear-gradient(135deg, #6C63FF 0%, #6C63FF 100%);
}
ol.gradient-list > li:nth-child(10n+5):before {
    background: linear-gradient(135deg, #6C63FF 0%, #6C63FF 100%);
}
ol.gradient-list > li:nth-child(10n+6):before {
    background: linear-gradient(135deg, #6C63FF 0%, #6C63FF 100%);
}
ol.gradient-list > li:nth-child(10n+7):before {
    background: linear-gradient(135deg, #6C63FF 0%, #6C63FF 100%);
}
ol.gradient-list > li:nth-child(10n+8):before {
    background: linear-gradient(135deg, #6C63FF 0%, #6C63FF 100%);
}
ol.gradient-list > li:nth-child(10n+9):before {
    background: linear-gradient(135deg, #6C63FF 0%, #6C63FF 100%);
}
ol.gradient-list > li:nth-child(10n+10):before {
    background: linear-gradient(135deg, #6C63FF 0%, #6C63FF 100%);
}
ol.gradient-list > li + li {
    margin-top: 2rem;
}
.card-image .hover-img { 
  position:relative;
 }
.card-image .hover-img span {
  position:absolute; left:-9999px; top:-9999px; z-index:9999;
 }
 .card-image:hover .hover-img span { 
  top: 20px; 
  left:0;
 }
#q-checkbox {
  border: 5px solid #6C63FF;
  height: 25px;
  width: 25px;

}
#qimg{
    background-color: #6C63FF;
}

.form-select{
  border-radius: 0;
  border: 2px solid #6C63FF;
  font-size:1.15rem;
  background-color: #eee;
}
/*  */
.inputGroup {
  display: block;
  position: relative;
}
.inputGroup label {
  padding: 12px 15px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
  border-color:#6C63FF;
}
.inputGroup input:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
  
}
.inputGroup input:checked ~ label:after {
  background-color: #54E0C7;
  border-color: #6C63FF;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}
/*-----------------------------------
        Create test end 
-----------------------------------*/
#main {
  display: flex;
  flex-wrap: wrap;
}
/*------------------------------------
        LOGIN PAGE
------------------------------------*/
#login-a {
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
  font-weight: bold;
  color: white;
}

#login-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

#login-input,#login-input1 {
	background-color: #eee;
	border: 2px solid #6C63FF;
	padding: 10px 15px;
	margin: 8px 0;
	width: 100%;
}
#username{
  background-color: #eee;
	border: 2px solid #6C63FF;
	padding: 10px 15px;
	margin: 8px 0;
	width: 100%;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 85vh; /* These two lines are counted as one :-)       */
	display: flex;
}
#review{
	background-color:#6C63FF;
}

.carousel-indicators [data-bs-target]{
  border-radius: 100%;
  height:15px;
  width:15px;
  background-color: #6C63FF;
}
.form-control{
  border-radius: 0;
  border: 2px solid #6C63FF;
  font-size:1.15rem;
  background-color: #eee;
}

.blue{
  color:#6C63FF;
}
.white{
  color:white;
}
.carousel-indicators{
  bottom: -80px;
}
.carousel-indicators .active {
  background-color:#6C63FF; ;
  
}
.outline-color{
  outline-color: #6C63FF;
}
.select-color:focus{
  margin: 0;
}
<<<<<<< HEAD
.tab {
    display: none;
  }
.step {
    height: 25px;
    width: 25px;
    margin: 0 2px;
    background-color:  #b3abab;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 1;
  }
.step.active {
    opacity: 1;
    background-color: #6C63FF;
  }
.step.finish {
    background-color: green;
    opacity: 1;
}
.step.wrong {
  background-color: red;
  opacity: 1;
}
/*--------------------------------
      Test Execution
---------------------------------*/
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}
=======
/*------------------------------------
          Change Password
------------------------------------*/
.separator {
  width: 150px;
  height: 4px;
  background-color: #843bc7;
  margin: 24px;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: 25px;
  position: absolute;
  z-index: 2;
}
/*------------------------------------
          Set Password
------------------------------------*/
.main-body {
  padding: 15px;
}


.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
/* Admin Page */
>>>>>>> 8affcaf127f7be3397fe065c61998823fc9baa3d

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 85px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: none; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 550px;
}


/* Add Animation */
.modal-content {    
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.8s;
  animation-name: zoom;
  animation-duration: 0.8s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #6C63FF;
  font-size: 40px;
  font-weight: bold;
  transition: 0.5s;
}

.close:hover,
.close:focus {
  color: #382efd;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
}
.btn-primary{
  background-color: #6C63FF;
  border-color: #6C63FF;
}
/*-----------------------------
        Admin Page 
------------------------------*/

/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #6C63FF;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #3F3D56;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a,
.sidebar .nav-links li div{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name,
.sidebar .nav-links li div .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
  cursor: pointer;
}
.sidebar.close .nav-links li a .link_name,
.sidebar.close .nav-links li div .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #3F3D56;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background: #3F3D56;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #3F3D56;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #fff;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
 .sidebar.close .bx-menu{
  margin: 0;
  cursor: pointer;
}
.sidebar .bx-menu{
  margin: 0;
  cursor: pointer;
}


.box-shadow{
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
} 

/* .container{
  margin-left:19%;
  display:none;
} */
.container1 {
  margin-left:23%;
  margin-right:7%;
  display:none;
}

@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
}

.piegraph { 
   margin-left: 8%;
   margin-top: 3%;
 
   background-color: #fff;
    
  }

.login {
  margin:auto;
  display:none;
}


.patientclass {
  margin-left:23%;
  margin-right:10%;
<<<<<<< HEAD

}

=======
}
>>>>>>> 8affcaf127f7be3397fe065c61998823fc9baa3d
